.navigation {
  float: right;
  height: 100%;
}

.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 20px 20px;
  background-color: #0b0b0b;
}

.navigation a li {
  vertical-align: middle;
  display: table-cell;
  font-size: 20px;
  color: rgb(246, 241, 241);
}

.navigation a:hover {
  background-color: gray;
  color: #101010;
}
